.layout {
    width: 90%;
    margin: auto;
}

td > a {
    color: #007bff;
    text-decoration: none;
}
  
td > a:hover {
  color: #0056b3;
  text-decoration: underline;
}

td > a:visited {
  color: #8c52ff;
}