<div class="layout position-relative">
    <div class="mt-3">
        <button nz-button nzType="primary" class="mb-3" (click)="routeToDashboard()"> Back To Dashboard</button>
        <button nz-button nzType="primary" class="mb-3 position-absolute end-0" (click)="openModal()">Add New Resident</button>
    </div>

    <nz-table #basicTable [nzData]="data" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Unit No</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phoneNo }}</td>
            <td>{{ data.unitNo }}</td>
            <td>{{ data.status }}</td>
            <td>
                <button nz-button nzType="primary" (click)="routeToDashboard()">Update</button>
                <nz-divider nzType="vertical"></nz-divider>
                <button nz-button nzType="primary" nzDanger (click)="deleteResident(data.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
</div>

<nz-modal [(nzVisible)]="showModal" nzOkText="Create" nzTitle="Create Resident" (nzOnCancel)="closeModal()" (nzOnOk)="createResident()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="createResidentForm">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input resident name.">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input
                         formControlName="name"
                         placeholder="Resident Name"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Please input resident age">
                <nz-input-group nzPrefixIcon="lock">
                  <input nz-input formControlName="age"
                         placeholder="Age"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Please input resident email">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input
                           formControlName="email"
                           placeholder="Email"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control nzErrorTip="Please input resident phone number.">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input
                           formControlName="phoneNo"
                           placeholder="Phone No"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control nzErrorTip="Please input resident unit number.">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input
                           formControlName="unitNo"
                           placeholder="Unit No"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control nzErrorTip="Please input resident username.">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input
                           formControlName="username"
                           placeholder="Username"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control nzErrorTip="Please input resident password.">
                  <nz-input-group nzPrefixIcon="lock">
                    <input type="text" nz-input
                           formControlName="password"
                           placeholder="Password"/>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
          </form>
    </ng-container>
  </nz-modal>
