<div>
    <nz-row nzJustify="space-around" class="mt-5">
        <nz-col nzSpan="6">
            <a href="./main/resident-account">
                <nz-card [nzBordered]="true" nzTitle="Resident Account" class="card-style">
                    <p>To manage their residential accounts or profiles. 
                        It allows users to view and edit personal information and contact details.
                    </p>
                </nz-card>
            </a>
        </nz-col>
        <nz-col nzSpan="6">
            <a href="./main/announcement-board">
                <nz-card [nzBordered]="true" nzTitle="Announcement Board" class="card-style">
                    <p>This is a announcement board module that allows admin to put up announcement.
                    </p>
                </nz-card>
            </a>
        </nz-col>
        <nz-col nzSpan="6">
            <a href="./main/payment-management">
                <nz-card [nzBordered]="true" nzTitle="Payment Management" class="card-style">
                    <p>This is a payment management module that allows admin manage resident's payment.</p>
                </nz-card>
            </a>
        </nz-col>
    </nz-row>

    <nz-row nzJustify="space-around" class="mt-5">
        <nz-col [nzSpan]="6">
            <a href="./main/payment-statement">
                <nz-card [nzBordered]="true" nzTitle="Payment Statement" class="card-style">
                    <p>This is a payment statement module that allows admin generate payment statement.</p>
                </nz-card>
            </a>
        </nz-col>
        <nz-col [nzSpan]="6">
            <a href="./main/visitor-management">
                <nz-card [nzBordered]="true" nzTitle="Visitor Management" class="card-style">
                    <p>This is a visitor management module that allows admin manage visitor.</p>
                </nz-card>
            </a>

        </nz-col>
        <nz-col [nzSpan]="6">
            <a href="./main/emergency-request-management">
                <nz-card [nzBordered]="true" nzTitle="Emergency Request Management" class="card-style">
                    <p>This is a emergency request management module that allows admin manage emergency request.</p>
                </nz-card>
            </a>
        </nz-col>
    </nz-row>
</div>


