<div class="layout position-relative">
    <div class="mt-3">
        <button nz-button nzType="primary" class="mb-3" (click)="routeToDashboard()"> Back To Dashboard</button>
    </div>
    <nz-table #basicTable [nzData]="data">
        <thead>
            <tr>
            <th>UUID</th>
            <th>Visitor Name</th>
            <th>Resident Unit</th>
            <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
            <td>{{ data.uuid }}</td>
            <td>{{ data.visitorName }}</td>
            <td>{{ data.residentUnit }}</td>
            <td>{{ data.status }}</td>
            </tr>
        </tbody>
        </nz-table>
</div>